
/** Make the menu item red so that it stands out **/
#testing1-helloworld-menuitem
{
  color: red ! important;
}


/** Apply an image to our toolbarbutton.  Use multiple states in a
    single image and then reposition the viewport in order to avoid
    flickering on state change **/
#testing1-toolbarbutton
{
  list-style-image: url(chrome://testing1/skin/toolbar.png);
  -moz-image-region: rect(0px 16px 16px 0px);
}
#testing1-toolbarbutton:hover
{
  -moz-image-region: rect(16px 16px 32px 0px);
}
#testing1-toolbarbutton[disabled="true"]
{
  -moz-image-region: rect(48px 16px 64px 0px);
}
#testing1-toolbarbutton[active="true"]
{
  -moz-image-region: rect(32px 16px 48px 0px);
}
