#titlebar_box {
  border-bottom:0px;
}

#nav-bar toolbarbutton {
  border:1px solid white;
  -moz-border-radius:4px;
  border-color: rgb(250,190,240) rgb(255,210,250)  rgb(255,255,255); 
}




/* Textboxes */

textbox[edited="true"],
sb-rating[edited],
searchbar:not([empty="true"])[livesearchmode="true"] .search-go-button,
searchbar:not([empty="true"])[livesearchmode="true"] .searchbar-textbox {
  background-color:rgb(255,215,255) !important;
}

/*
  Focused state
*/
textbox[focused="true"]:not(.plain),
searchbar[focused="true"] .search-go-button,
searchbar[focused="true"] .searchbar-textbox {
  background-color: rgb(255,235,255) !important;
}

/* location bar overlay */

.locationbar-textbox, .searchbar-textbox, #searchbar .search-go-button {
  border:0px solid; 
  border:1px solid white; 
  border-color:  rgb(255,255,255) ; 
}


menupopup, menu, menuitem { 
	background-color:transparent;
} 




/******************************************************************************
> FACEPLATE

  Appears when dragging media items - it's a combination of an image and a badge with a count
******************************************************************************/
.faceplate-text {
  color: _odd_dark;
}
#sb-player-artist-label-label,
#sb-player-album-label-label {
  color: _odd_minusfour;
}
#sb-player-timeelapsed-label > label,
#sb-player-totaltime-label > label {
  color: _odd_minusfour;
}



