
/* Color table

  standard light - 250,190,240
  standard up  -255,210,250
  white - 255,240,255 
  
*/

/* Elected */

.stop-color-even-normal-light { 
	stop-color:rgb(255,240,255);
	stop-opacity:1
}
.stop-color-even-normal { 
	stop-color:rgb(250,190,240); 
 	stop-opacity:1; 
} 
.stop-color-even-normal-less { 
	stop-color:rgb(240,180,230); 
 	stop-opacity:1; 
} 





.color-odd-normal { 
	fill:rgb(210,120,230);
} 

.color-odd-normal-more-more {
        fill:rgb(230,130,250);
}
.color-odd-normal-light {
        fill:rgb(250,160,255);
}

.stop-color-odd-normal { 
        stop-opacity:1;
        stop-color:rgb(210,120,230);
} 
.stop-color-odd-normal-more { 
        stop-opacity:1;
        stop-color:rgb(220,125,240);
} 
.stop-color-odd-normal-more-more { 
        stop-opacity:1;
        stop-color:rgb(230,130,250);
} 






.color-normal {
        stop-opacity:1;
        stop-color:rgb(250,190,240);
}
.color-normal-less {
        stop-color:rgb(220,140,190);
        stop-opacity:1;
}
.color-normal-less-less {
        stop-color:rgb(200,130,170);
        stop-opacity:1;
}
.color-normal-more {
        stop-color:rgb(255,220,250);
        stop-opacity:1;
}
.color-normal-more-more {
        stop-color:rgb(255,255,255);
        stop-opacity:1;
}





.shadow-shadow {
        stop-opacity:.4;
        stop-color:rgb(0,0,0);
}
.shadow-transparent {
        stop-color:rgb(255,255,255);
        stop-opacity:0;
}

.bg-shadow {
        stop-opacity:.4;
        stop-color:rgb(0,0,0);
}
.bg-transparent {
        stop-color:rgb(255,255,255);
        stop-opacity:0;
}

.media-bg-from-color {
        stop-opacity:1;
        stop-color:rgb(255,255,255);
}
.media-bg-to-color {
        stop-color:rgb(250,190,240);
        stop-opacity:1;
}

.media-from-color {
        stop-color:rgb(250,190,240);
        stop-opacity:1;
}
.media-to-color {
        stop-color:rgb(230,164,222);
        stop-opacity:1;
}

/* Urlbar focused */
.button-from-color {
	stop-color:rgb(255,240,255);
        stop-opacity:1;
}
.button-to-color {
        stop-color:rgb(230,164,222);
        stop-opacity:1;
}

.button-dark-from-color {
        stop-color:rgb(230,164,222);
	stop-color:rgb(255,240,255);
        stop-opacity:1;
}
.button-dark-to-color {
        stop-color:rgb(200,130,190);
        stop-color:rgb(230,164,222);
        stop-opacity:1;
}


.faceplate-from-color {
        stop-color:rgb(250,190,240);
        stop-opacity:1;
}
.faceplate-to-color {
        stop-color:rgb(230,164,222);
        stop-opacity:1;
}

/* Used to the main toolbar */


/* The following under review - this comes from pinkTheme project */

.progress-background {
   fill: rgb(250,190,240);
   stop-opacity: 1;
}

.downloadbar-color {
   stop-color: rgb(250,190,240);
   stop-opacity: 1;
}

.downloadbar-highlight {
   stop-color: rgb(255,255,255);
   stop-opacity: 1;
}

.downloadbar-dark {
   stop-color: rgb(120,80,110);
   stop-opacity: 1;
}
/* Check the global CSS background color via rgb values in global.css */



.shadeselected-from-color {
   stop-color: rgb(250,190,240);
   stop-opacity: 1;
}

.shadeselected-to-color {
   stop-color: rgb(255,240,255);
   stop-opacity: 1;
}


.tab-outer2 { 
  stroke: white; 
  stroke-width:20; 
  fill:none;
}

.tab-outer { 
  stroke: rgb(250,190,240); 
  stroke-width:10; 
  fill:none;
} 

.urlbar-outer { 
  stroke: white; 
  stroke-width:1; 
  fill:none;
} 

.tab-from-color { 
   stop-color: rgb(250,190,240); 
   stop-opacity: 1;
} 

.tab-to-color { 
   stop-color: rgb(255,240,255); 
   stop-opacity: 1;
} 

.color-white { 
   stop-color: rgb(255,240,255);
   stop-opacity:1; 
} 
.color-black { 
   stop-color: rgb(0,0,0);
   stop-opacity:1; 
} 


/* Browserr find bar */

.findbar-from-color {
        stop-color:rgb(255,240,255);
        stop-opacity:1
}
.findbar-to-color {
        stop-color:rgb(250,190,240);
        stop-opacity:1;
}

.findbar-button-from-color {
        stop-color:rgb(195,165,185);
        stop-opacity:1
}
.findbar-button-to-color {
        stop-color:rgb(255,240,255);
        stop-opacity:1;
}

/* button general */

.button-from-color {
        stop-color:rgb(255,210,250);
        stop-opacity:1;
}
.button-to-color {
        stop-color:rgb(250,190,240);
        stop-opacity:1;
}
.button-focused-color {
        stop-color:rgb(255,240,255);
        stop-opacity:1;
}


.button-active-from-color {
        stop-color:rgb(255,240,255);
        stop-opacity:1;
}
.button-active-to-color {
        stop-color:rgb(255,240,255);
        stop-opacity:1;
}



/* Other toolbar */

.toolbar-inactive-from-color {
        stop-color:rgb(210,210,210);
        stop-opacity:1
}
.toolbar-inactive-to-color {
        stop-color:rgb(255,240,255);
        stop-opacity:1;
}

.toolbar-from-color-dark {
        stop-color:rgb(100,70,95);
        stop-opacity:.8;
}

.toolbar-from-color-dark-transparent {
        stop-color:rgb(100,70,95);
        stop-opacity:0;
}

.toolbar-from-color {
        stop-color:rgb(250,190,240);
        stop-opacity:1;
}
.toolbar-to-color {
        stop-color:rgb(255,240,255);
        stop-opacity:1;
}


.bookmarks-toolbar-from-color {
        stop-color:rgb(255,240,255);
        stop-opacity:1;
}
.bookmarks-toolbar-to-color {
        stop-color:rgb(250,190,240);
        stop-opacity:1;
}

.bookmarks-toolbar-inactive-from-color {
        stop-color:rgb(255,240,255);
        stop-opacity:1;
}
.bookmarks-toolbar-inactive-to-color {
        stop-color:rgb(210,210,210);
        stop-opacity:1;
}


.toolbarbutton-from-color {
        stop-color:rgb(255,240,255);
        stop-opacity:1;
}
.toolbarbutton-to-color {
        stop-color:rgb(250,190,240);
        stop-opacity:1;
}

.toolbarbutton {
  stroke: white;
  stroke-width:2;
}

.tabbrowsertabs-from-color-dark {
        stop-color:rgb(125,95,120);
        stop-opacity:1;
}
.tabbrowsertabs-from-color {
        stop-color:rgb(210,160,209);
        stop-opacity:1;
}
.tabbrowsertabs-to-color {
        stop-color:rgb(240,184,232);
        stop-opacity:1;
}

/* Standard urlbar - notice this is called urlbarstart but refers to urlbar entirelly */


/* Places selected element in the tree left */


.selectedtreeelement-to-color {
        stop-color:rgb(160,255,170);
        stop-opacity:1;
}
.selectedtreeelement-from-color {
        stop-color:rgb(205,255,205);
        stop-opacity:1;
}



/* menu arrow icons small */


.arrow-to-color {
	stop-color:rgb(0,160,0);
        stop-opacity:1;
}
.arrow-light-color {
	stop-color:rgb(0,200,0);
        stop-opacity:1;
}
.arrow-from-color {
        stop-color:rgb(0,120,0);
        stop-opacity:1;
}


