
.stop-white {
        stop-opacity:1;
        stop-color:rgb(255,255,255);
}

.stop-shadow {
        stop-opacity:.4;
        stop-color:rgb(0,0,0);
}

.stop-transparent {
        stop-color:rgb(255,255,255);
        stop-opacity:0;
}

.stop-even-light { 
	stop-color:rgb(255,240,255);
	stop-opacity:1
}
.stop-even-normal-more-more { 
	stop-color:rgb(255,210,255); 
 	stop-opacity:1; 
} 
.stop-even-normal-more { 
	stop-color:rgb(250,200,250); 
 	stop-opacity:1; 
} 
.stop-even-normal { 
	stop-color:rgb(250,190,240); 
 	stop-opacity:1; 
} 
.stop-even-normal-less { 
	stop-color:rgb(240,180,230); 
 	stop-opacity:1; 
} 
.stop-even-normal-less-less { 
	stop-color:rgb(230,170,220); 
 	stop-opacity:1; 
} 





.color-odd-normal { 
	fill:rgb(210,120,230);
} 

.color-odd-normal-more-more {
        fill:rgb(230,130,250);
}
.color-odd-normal-light {
        fill:rgb(250,160,255);
}

.stop-color-odd-normal { 
        stop-opacity:1;
        stop-color:rgb(210,120,230);
} 
.stop-color-odd-normal-more { 
        stop-opacity:1;
        stop-color:rgb(220,125,240);
} 
.stop-color-odd-normal-more-more { 
        stop-opacity:1;
        stop-color:rgb(230,130,250);
} 






.color-normal {
        stop-opacity:1;
        stop-color:rgb(250,190,240);
}
.color-normal-less {
        stop-color:rgb(220,140,190);
        stop-opacity:1;
}
.color-normal-less-less {
        stop-color:rgb(200,130,170);
        stop-opacity:1;
}
.color-normal-more {
        stop-color:rgb(255,220,250);
        stop-opacity:1;
}
.color-normal-more-more {
        stop-color:rgb(255,255,255);
        stop-opacity:1;
}




